<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div id="sidebar">
            <a href='#' class="closebtn"><span>&times;</span></a>
            <ul class="nav"></ul>
        </div>
        <div>
            <a href="#" class="openbtn">
                <span>&#9776;</span>
            </a>
        </div>
        <div class="main"></div>
        <div class="container"></div>
    </div>
</body>
</html>