<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id='app' class="train-mode">
        <div class="sidebar">
            <a class='closebtn'><span>&times;</span></a>
            <ul class='nav'></ul>
        </div>
        <div class='header'>
            <a class="openbtn">
                <span>&#9776;</span>
            </a>
            <div class='mode'>
                <p>TRAIN</p>
            </div>
        </div>
        <div class='starsBlock'></div>
        <div class='main'></div>
        <div class='container'></div>
    </div>
</body>
</html>