.sidebar {
    position: fixed;
    left: -320px;
    height: 100%;
    width: 320px;
    transition: 0.5s;
    transform: translateX(0px);
    z-index: 9999;
    background: linear-gradient(40deg,#ad1d29,#f15f3b);
    .nav {
        font-size: 2em;
        padding: 80px 0 0 40px;
        height: 100%;

        a {
            color: white;
        }

        li {
            padding: 10px;
            list-style-type: none;
        }
    }    
}
   